
#language: node_js
#node_js:
#-10.15.1
#cache: yarn

#install:
#  - yarn install
#
#script:
#  - yarn test
#  - yarn run build
#
#deploy:
#  provider: script
#  script: netlify deploy -s $NETLIFY_SITE_ID -t $NETLIFY_ACCESS_TOKEN -p ./build
#  skip_cleanup: true
 # on:
 #   branch: master

language: node_js
node_js:
  - "10.15.3"
env:
  - CI=true
cache:
  - yarn
  - directories:
      - node_modules
script:
  - npm run test
  - npm run build
  - ls
  - cd build 
  - ls

before_deploy:
  - npm install netlify-cli -g
  - ls
  - cd build 
deploy:
  provider: script
  script: netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN -p --dir ./build
  skip_cleanup: true
  on:
    branch: master