
#language: node_js
#node_js:
#-10.15.1
#cache: yarn

#install:
#  - yarn install
#
#script:
#  - yarn test
#  - yarn run build
#
#deploy:
#  provider: script
#  script: netlify deploy -s $NETLIFY_SITE_ID -t $NETLIFY_ACCESS_TOKEN -p ./build
#  skip_cleanup: true
 # on:
 #   branch: master

language: node_js
node_js:
  - "10.15.3"
script:
  - npm run test
install:
  - npm install

before_deploy:
  - npm install netlify-cli -g
  - npm run build

deploy:
  provider: script
  script: netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_ACCESS_TOKEN --dir=build 
  skip_cleanup: true
  on:
    branch: master