
#language: node_js
#node_js:
#-10.15.1
#cache: yarn

#install:
#  - yarn install
#
#script:
#  - yarn test
#  - yarn run build
#
#deploy:
#  provider: script
#  script: netlify deploy -s $NETLIFY_SITE_ID -t $NETLIFY_ACCESS_TOKEN -p ./build
#  skip_cleanup: true
 # on:
 #   branch: master

language: node_js
node_js:
  - "10.15.3"
script:
  - yarn test
env:
  - CI=true
install:
  - yarn install

before_deploy:
  - yarn add netlify-cli -g
  - yarn run build

deploy:
  provider: script
  script: netlify deploy -s $NETLIFY_SITE_ID -t $NETLIFY_ACCESS_TOKEN -p ./build
  skip_cleanup: true
  on:
    branch: master